<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline</title>
</head>
<body >
<div class="header">
    
    
</div>
<button id ="switch" onclick=val() >
{%if isCust%}
    Switch to Staff Login
{% else %}
    Switch to Customer Login
{%endif%}
</button>

{%if isCust%}
    <div id = "CustomerLogin"  style = "display:block">
{% else %}
    <div id = "CustomerLogin"  style = "display:None">
{%endif%}

    <h1>Customer Login</h1> 
    <form action="./loginAuth" method="POST" style="text-align: left;">
        <p>Email:</p>
        <input type="text" id="email" name="email">
        <p>Password</p>
        <input type="password" id="password" name="password"><br/>
        <input type="submit" value="Submit"><br/>
    </form>
</div>

{%if isCust%}
    <div id = "StaffLogin"  style = "display:none"
>
{% else %}
    <div id = "StaffLogin"  style = "display:block">
{%endif%}

    <h1>Staff Login</h1>
    <form action="./loginAuth" method="POST" style="text-align: left;">
        <p>Username:</p>
        <input type="text" id="email" name="username">
        <p>Password</p>
        <input type="password" id="password" name="password"><br/>
        <input type="submit" value="Submit"><br/>
    </form>
</div>
{% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
<script>
    function val(){ 
        console.log("hello")
        d = document.getElementById("CustomerLogin")
        btn = document.getElementById("switch")
        if(d.style.display === "none"){ 
            btn.textContent = "Switch to Staff Login"
            document.getElementById("StaffLogin").style.display = "none";
            document.getElementById("CustomerLogin").style.display = "block";
        }
        else{ 
            btn.textContent = "Switch to Customer Login"
            document.getElementById("StaffLogin").style.display = "block";
            document.getElementById("CustomerLogin").style.display = "none";
        }
    }
</script>
</body>
</html>