<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline</title>
</head>
<body>
<div class="header">
    
</div>
<div>
    <h1>Customer Login</h1> 
    <form action="./loginAuth" method="POST" style="text-align: left;">
        <p>Email:</p>
        <input type="text" id="email" name="email">
        <p>Password</p>
        <input type="password" id="password" name="password"><br/>
        <input type="submit" value="Submit"><br/>
    </form>
</div>
<div>
    <h1>Staff Login</h1>
    <form action="./loginAuth" method="POST" style="text-align: left;">
        <p>Username:</p>
        <input type="text" id="email" name="username">
        <p>Password</p>
        <input type="password" id="password" name="password"><br/>
        <input type="submit" value="Submit"><br/>
    </form>
</div>
{% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
</body>
</html>