<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Airline</title>
</head>
<body>
  <div class="header">
  <h1 style="text-align: center">My Account</h1>
  <div class="credentials">
    <a href="/">Home</a>
    <a href="/logout" onclick="logout()">Log out</a>
  </div>
</div>
  <div class="account staff" style="padding: 100px;display:flex;flex-wrap:wrap;">
    <div class="block">
      <form action="..">
        <p>Create flight: </p>
        <select id="airport" name="airport">
          {% for line in airports %}
              <option name="airport" id="airport_s" value={{line['name']}}>{{line['name']}}</option> <!-- Vscode doesn't like that-->
          {% endfor %}
          </select>
        <input type="datetime-local" id="depart" name="depart">
        <input type="datetime-local" id="arrival" name="arrival">
        <input type="submit" value="Submit">

      </form>
    </div>
    <div class="block">
      <form action="..">
        <p>Add airport: </p>
        <input type="text" id="airportname" name="airportname">
        <input type="submit" value="Submit">

      </form>
    </div>
    <div class="block">
      <form action="..">
        <p>Add airplane: </p>
        <input type="text" id="planename" name="planename">
        <input type="submit" value="Submit">

      </form>
    </div>
    <div class="block">
      <form action="..">
        <p>View Flights: </p>
        <label for="from">From:</label>
        <input type="date" id="from" name="from"> <br/>
        <label for="to">To:</label>
        <input type="date" id="to" name="to"><br/>
        <label for="source">Source:</label>
        <select id="source" name="source">
          <option value="Jetblue">All</option>
          <option value="Jetblue">JFK</option>
          <option value="EWK">EWK</option>
          <option value="SFO">SFO</option>
          <option value="audi">Audi</option>
        </select> </br>
        <label for="destination">Destination:</label>
        <select id="destination" name="destination">
          <option value="Jetblue">All</option>
          <option value="Jetblue">JFK</option>
          <option value="EWK">EWK</option>
          <option value="SFO">SFO</option>
          <option value="audi">Audi</option>
        </select> </br>
        <input type="submit" value="Submit">

      </form>
    </div>
    <div class="block">
      <form action="..">
        <p>View Reports: </p>
        <label for="range">Time Range:</label>
        <select id="range" name="range">
          <option value="Month">Last Month</option>
          <option value="Year">Last Year</option>
          <option value="Range">Range</option>
        </select></br>
        <label for="from2">From:</label>
        <input type="date" id="from2" name="from"> <br/>
        <label for="to2">To:</label>
        <input type="date" id="to2" name="to"><br/>
        <input type="submit" value="Submit">

      </form>

    </div>
    <div class="block">
      <a>View Frequent Customers</a> </br>
      <a>View Earned Revenue</a>
    </div>



  </div>
</body>
<script src="../logic.js"></script>
</html>