:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
}
html, body {
    margin: 0;
    padding: 0;
}

.header {
    position:relative;
    height:20vh;
    background: powderblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.credentials {
    position: absolute;
    top: 0;
    right: 0;
}

.flights {
    width:80vw;
    padding-left: 10vw;
    padding-top: 50px;
}
.flight {
    border-style: solid;
    height: 100px;
    width: 100%;

}

.arrival {
    display:none;
}

.block {
    width: 30vw;
    flex: 1 0 21%; /* explanation below */
    margin: 20px;
}

.IptBtn{
    background-color:white; 
    border-color: black;
    border-width: 1px;
}
.IptBtn:hover{ 
    background: #f2f2f2;
    color: black;
}